    {% extends 'layout.html' %}
    
     {% block title %}
        <title>{{ title }} - {{ blog_name }}</title>
     {% endblock %}
    
    {% block content %}
         <article>
                <header class="post-header">
                    <div class="meta">
                        <time datetime="{{ date|string }}">{{ date.strftime('%B %d, %Y') }}</time>
                    </div>
                <h1>
                    {{ title }}
                </h1>
                </header>
                <div class="post-content"> 
                    {{ content }}
                    
                    {% if show_plain_text_link %}
                    <div class="plain-text-link">
                        &laquo;<a href="{{ plain_text_link }}" title="{{ plain_text_title }}">{{ plain_text }}</a>&raquo;
                    </div>
                    {% endif %}
                </div>
              
                <hr/>
                <!-- discus comments go here -->
                
          </article>
    {% endblock %}